.cover__subtitle {
  position: absolute;
  top: 429px;
  left: 412px;
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  z-index: 1;
}
