.footer__author {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 688px) {
  .footer__author {
    display: flex;
    justify-content: end;
    padding-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .footer__author {
      justify-content: start;
      padding: 0;
  }
}