.place__paragraph {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 29px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 26px;
  }
}

@media screen and (max-width: 450px) {
  .place__paragraph {
    padding-top: 32px;
  }

  .place__paragraph:nth-child(2) {
    padding-top: 25px;
    margin-top: 0;
  }
}