.intro {
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-left: 24px;
        grid-template-columns: repeat(1, 720px);
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding-left: 16px;
        grid-template-columns: repeat(1, 320px);
    }
}