.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding: 32px 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .lead__subtitle {
    font-size: 1.5rem;
    line-height: 29px;
  }
}

@media screen and (max-width: 342px) {
  .lead__subtitle {
    font-size: 1.3rem;
    line-height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    padding: 16px 0 0 0;
    max-width: 640px;
    font-size: 1rem;
    line-height: 20px;
  }
}