.place__link {
  display: inline;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}