.footer {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 84px 0 24px 0;
  }
}

@media screen and (max-width: 688px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 34px 0 24px 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 720px;
    padding: 64px 0 24px 16px;
  }
}
