.place__website {
    max-width: 456px;
    padding: 0 0 48px 0;
    display: grid;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .place__website {
        padding: 0 0 45px 0;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        padding: 0 0 47px 0;
    }
}

@media screen and (max-width: 450px) {
    .place__website {
        padding: 0 0 32px 0;
        margin-left: 16px;
    }
}